canvas {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  border: 5px solid #000;
}
@media (orientation: landscape) {
  canvas {
    background: url(./images/background-hor.png) center no-repeat;
    background-size: cover;
  }
}

@media (orientation: portrait) {
  canvas {
    background: url(./images/background-ver.png) center no-repeat;
    background-size: cover;
  }
}
#beetlemorph,
#rhinomorph,
#boss,
#player,
#player_jets {
  display: none;
}
